* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding-top: 15mm;
    padding-bottom: 15mm;
}

table{
    background-color: white;    
}

table td[left]{
    text-align: left;
}

[right]{
    text-align: right;
}

[left]{
    text-align: left;
}

input[type=checkbox]{
    cursor:pointer;
}
